*{
    padding: 1%;
    margin: 1%;
}
body{
    background-color: aliceblue;
}
img{
    width: 90%;
}
.imagen img {
    float: center;
    width: 90%;
    height: 90%;
}
.imagen2 img {
    float: center;
    width: 90%;
    height: 90%;
}
.imagen3 img {
    float: center;
    width: 90%;
    height: 90%;
}
.imagen4 img {
    float: center;
    width: 90%;
    height: 90%;
}
.imagen5 img {
    float: center;
    width: 90%;
    height: 90%;

}
.imagen6 img {
    float: center;
    width: 90%;
    height: 90%;
}